@import url('https://fonts.googleapis.com/css2?family=Alike+Angular&family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alike+Angular&family=Lato:wght@300&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;

}

body {
    font-family: Lato, sans-serif;
    font-weight: 300px;
    color: #3a3a3a;
}

/*headings and logo*/

h1,
h2 {
    text-decoration: none;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    color: #252525;
    letter-spacing: 4px;
}

#logo {
    float: left;
    font-size: 280%;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 40px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}
#hero-outer{
  width:100%;
  height:600px; 
  overflow:hidden;
  
  position:relative;
}

#cover-text, #cover-text h2{
    color:#ffff;
}
/*adds hero image*/
#hero-image{
    width:100%;
    height:600px;
    background:url(../images/pexels-run-ffwpu-2402761.jpg) no-repeat center center;
    background-size:cover;

    /*animates zoom effect for hero image*/
    animation-name:hero-zoom;
    animation-duration:5s;
    animation-fill-mode:forwards;
}

/*creates zoom for hero image*/
@keyframes hero-zoom{
    from{
        transform:scale(1);
    }
    to{
        transform:scale(1.3);
    }
}

#cover-text{
    font-size:130%;
    font-family:Oswald,sans-serif;
    text-transform:uppercase;
    letter-spacing:4px;

    width:300px;
    height:200px;

    bottom:30px;
    right:150px;

    padding-top:30px;
    padding-left:10px;

    position:absolute;

    background-color:rbga(182,182,182,0.4);
    
}   

